* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
}

nav {
  width: 100%;
  background-color: rgb(0 0 0 / 81%);
  position: sticky;
  top: 0%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.topnav {
  display: flex;
  justify-content: stretch;
  height: 45px;
  position: fixed;
}

.logo {
  order: -1;
  width: 25%;
  margin: 0 2%;
}

.logo img {
  text-align: right;
  align-content: center;
}

.nav1 {
  width: 45%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.nav2 {
  width: 31%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.nav2 input {
  width: 50%;
  margin: 0 4px;
  padding: 1% 2%;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.topnav a:hover {
  border-bottom: 2px solid #0f5da0;
  transition: ease-in-out;
}

.topnav a.active {
  border-bottom: 3px solid #0f5da0;
}

.nav1 li {
  text-decoration: none;
  display: inline-block;
  font-size: 120%;
  padding: 1%;
  color: whitesmoke;
}

.nav1 li a {
  text-decoration: none;
  color: whitesmoke;
}

.nav1 li a:hover {
  color: #ccc;
}

.btn-sm {
  padding: 2% 4%;
  color: #ffff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  background-color: #0f5da0;
}

.btn-sm:hover {
  background-color: #03537b;
}

.banner-area {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(imgs/backg.jpg);
  background-size: cover;
  background-position: center;
}
.content-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  text-align: center;
  color: whitesmoke;
  opacity: 1.5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.content h1 {
  /* color: whitesmoke; */
  font-size: 250%;
}

.content p {
  color: grey;
}
.btn1 {
  background-color: #006699;
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 3% 6%;
  margin-top: 5%;
  border-radius: 12px;
  color: whitesmoke;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
}
.btn1:hover {
  background-color: #03537b;
  /* color: grey; */
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 10px;
}

.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 3px;
}

.fisrt-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 75%;
  font-family: "Times New Roman", Times, serif;
  padding: 10px 20px;
}

.main-para{
  text-align: justify;
}

.reverse {
  flex-direction: row-reverse;
}

.thumbnail img {
  margin-top: 40px;
  border-radius: 6%;
}

.thumbnail {
  padding: 20px;
}

.test {
  margin: auto;
}

.second-sec {
  /* background-color: #caf0f8; */
  height: 100vh;
}

hr {
  border: 1px solid #0f5da0;
  margin: 1% 25%;
}

.form {
  margin: 0 20%;
  font-family: "Times New Roman", Times, serif;
}

form input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

form {
  margin-top: 5%;
}

h1 {
  text-align: center;
  padding-top: 6%;
  font-family: "Times New Roman", Times, serif;
}

.third-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: #ADE8F4; */
  width: 100%;
  /* height: 100vh; */
  font-family: "Times New Roman", Times, serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 85px;
  text-align: justify;
  background-color: whitesmoke;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-title {
  text-align: center;
}

.card img {
  width: 100%;
  height: 220px;
  border-radius: 20px;
  image-rendering: pixelated;
  background-size: cover;
}
.card-b {
  padding: 30px;
}

.cmain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.second {
  width: 85%;
}

.second iframe {
  width: 100%;
}

.first {
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 85%;
}

.part1 {
  padding: 10%;
  margin: 5%;
}
.part1:hover {
  background-color: #ababab;
  transition: 0.3s ease-out;
}

.part1 img {
  width: 100px;
}

.container {
  background-color: #040403;
  font-family: 'Times New Roman', Times, serif;
}

.fhead {
  color: #fff;
}

.ftext ul{
  list-style-type:none;
  
}

.ftext {
  width: 200px;
}

.ftext a {
  color: #ccc;
  text-decoration: none;
}

.ftext a:hover {
  color: #7c7c7c;
  
}

.ftext p {
  color: #ccc;
  text-decoration: none;
  text-align: justify;
}

.footer1 {
  display: flex;
  justify-content: space-around;
  padding: 42px 0px;
  margin: 0 10px;
}

.footer2{
  text-align: center;
}

.social :hover { 
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-out;
}

.social1 :hover {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-out;
}

.main{
  margin: 10px;
}

.copyright {
  text-align: center;
  color: #ccc;
  padding: 30px 0px;
}





@media only screen and (max-width: 1200px) {
  .third-sec {
    flex-direction: column;
  }

  .card {
    max-width: 310px;
    /* margin: 40px 85px; */
  }
  .cmain {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 980px) {
  /* 1135px 1050px 1014px 895*/

  .logo {
    width: 50px;
  }

  .topnav {
    flex-direction: column;
    align-items: center;
    height: 240px;
    transition: all 0.5s ease-in-out;
  }

  .nav1 {
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
  }

  .nav2 {
    transition: 0.4s;
  }

  .burger {
    display: block;
  }

  .h-nav {
    height: 50px;
  }

  .v-class {
    opacity: 0;
  }

  .fisrt-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 75%;
    margin-top: 50px;
    font-family: "Times New Roman", Times, serif;
    padding: 10px 20px;
    flex-direction: column-reverse;
  }
}
